<%= form_with model: @note do |f| %>
    <% if @note.errors.any? %>
        <ul class="w-96">
            <% @note.errors.each do |error| %>
                <li class="border border-rose-400 rounded-sm bg-rose-200 px-2 py-2 text-xs text-rose-400 font-bold mt-1"><%= error.full_message %></li>
            <% end %>
        </ul>
    <% end %>
    <div class="w-96 mt-4">
        <div>
            <%= f.label :name, class: 'label label-text text-slate-900 font-thin' %>
            <%= f.text_field :name, class: 'border border-slate-300 rounded-sm px-2 w-full' %>
        </div>
        <div class="mt-2">
            <%= f.label :text, class: 'label label-text text-slate-900 font-thin' %>
            <%= f.text_area :text, class: 'border border-slate-300 rounded-sm px-2 w-full' %>
        </div>
    </div>
    <%= f.submit submit_text, class: 'px-4 py-1 border border-slate-300 rounded-sm mt-4 shadow-md hover:bg-amber-50 transition' %>
<% end %>