<%= form_with model: @note do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :text %>
        <%= f.text_area :text %>
    </div>
    <%= f.submit submit_text %>
<% end %>