<h1>Edit note</h1>

<%= form_with model: @note do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :text %>
        <%= f.text_area :text %>
    </div>
    <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back to Notes', notes_path %>