<div class="mx-6">
    <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold">Notes</h1>
        <%= link_to 'New Note', new_note_path, class: 'px-4 py-2 bg-yellow-400 rounded-md text-neutral-50 hover:bg-yellow-500' %>
    </div>

    <table class="mt-6 w-full">
        <thead>
            <tr class="text-left bg-amber-100">
                <th class="py-3 px-2">ID</th>
                <th>Title</th>
                <th>Body</th>
                <th class="text-center pr-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @notes.each do |note| %>
            <tr class="border-t border-amber-100">
                <td class="py-2 px-2"><%= note.id %></td>
                <td><%= link_to note.name, note %></td>
                <td><%= note.text %></td>
                <td>
                    <div class="flex justify-end">
                        <%= link_to 'Edit', edit_note_path(note), class: 'border border-amber-400 px-3 py-1.5 rounded-md' %>
                        <%= button_to 'Delete', note, method: :delete, class: 'mx-2 border border-orange-600 bg-red-100 text-orange-600 px-3 py-1.5 rounded-md' %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <strong><%= link_to 'Home', root_path %></strong>

</div>