<div class="w-96 mt-4">
    <%= form_with model: @item do |f| %>
        <% if @item.errors.any? %>
            <ul>
                <% @item.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        <% end %>
        <div class="mt-2">
            <%= f.label :title, class: 'label label-text text-slate-900 font-thin' %>
            <%= f.text_field :title, class: 'border border-slate-300 rounded-sm px-2 w-full' %>
        </div>
        <div class="mt-2">
            <%= f.label :expected_cost, class: 'label label-text text-slate-900 font-thin' %>
            <%= f.number_field :expected_cost, step: 0.01, class: 'border border-slate-300 rounded-sm px-2 w-full' %>
        </div>
        <div class="mt-2">
            <%= f.label :is_done, class: 'label label-text text-slate-900 font-thin' %>
            <%= f.check_box :is_done %>
        </div>
        <%= f.submit submit_text, class: 'px-4 py-1 border border-slate-300 rounded-sm mt-4 shadow-md hover:border-lime-300 transition' %>
    <% end %>
</div>