<h1>All items</h1>

<h3>
    <%= link_to 'Add new Item', new_item_path %>
</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Expected cost</th>
            <th>Is done?</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
        <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.title, item %></td>
            <td><%= item.expected_cost %></td>
            <td><%= item.is_done %></td>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td>
                <%= button_to 'Delete', item, method: :delete %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<strong><%= link_to 'Home', root_path %></strong>